html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

.col1 {
  flex-basis: calc(100% / 16 * 1 - 3 * 20px);
  width: calc(100% / 16 * 1 - 3 * 20px);
}

.col2 {
  flex-basis: calc(100% / 16 * 2 - 3 * 20px);
  width: calc(100% / 16 * 2 - 3 * 20px);
}

.col3 {
  flex-basis: calc(100% / 16 * 3 - 3 * 20px);
  width: calc(100% / 16 * 3 - 3 * 20px);
}

.col4 {
  flex-basis: calc(100% / 16 * 4 - 3 * 20px);
  width: calc(100% / 16 * 4 - 3 * 20px);
}

.col5 {
  flex-basis: calc(100% / 16 * 5 - 3 * 20px);
  width: calc(100% / 16 * 5 - 3 * 20px);
}

.col6 {
  flex-basis: calc(100% / 16 * 6 - 3 * 20px);
  width: calc(100% / 16 * 6 - 3 * 20px);
}

.col7 {
  flex-basis: calc(100% / 16 * 7 - 3 * 20px);
  width: calc(100% / 16 * 7 - 3 * 20px);
}

.col8 {
  flex-basis: calc(100% / 16 * 8 - 3 * 20px);
  width: calc(100% / 16 * 8 - 3 * 20px);
}

.col9 {
  flex-basis: calc(100% / 16 * 9 - 3 * 20px);
  width: calc(100% / 16 * 9 - 3 * 20px);
}

.col10 {
  flex-basis: calc(100% / 16 * 10 - 3 * 20px);
  width: calc(100% / 16 * 10 - 3 * 20px);
}

.col11 {
  flex-basis: calc(100% / 16 * 11 - 3 * 20px);
  width: calc(100% / 16 * 11 - 3 * 20px);
}

.col12 {
  flex-basis: calc(100% / 16 * 12 - 3 * 20px);
  width: calc(100% / 16 * 12 - 3 * 20px);
}

.col13 {
  flex-basis: calc(100% / 16 * 13 - 3 * 20px);
  width: calc(100% / 16 * 13 - 3 * 20px);
}

.col14 {
  flex-basis: calc(100% / 16 * 14 - 3 * 20px);
  width: calc(100% / 16 * 14 - 3 * 20px);
}

.col15 {
  flex-basis: calc(100% / 16 * 15 - 3 * 20px);
  width: calc(100% / 16 * 15 - 3 * 20px);
}

.col16 {
  flex-basis: calc(100% / 16 * 16 - 3 * 20px);
  width: calc(100% / 16 * 16 - 3 * 20px);
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

.col1 {
  flex-basis: calc(100% / 16 * 1 - 3 * 20px);
  width: calc(100% / 16 * 1 - 3 * 20px);
}

.col2 {
  flex-basis: calc(100% / 16 * 2 - 3 * 20px);
  width: calc(100% / 16 * 2 - 3 * 20px);
}

.col3 {
  flex-basis: calc(100% / 16 * 3 - 3 * 20px);
  width: calc(100% / 16 * 3 - 3 * 20px);
}

.col4 {
  flex-basis: calc(100% / 16 * 4 - 3 * 20px);
  width: calc(100% / 16 * 4 - 3 * 20px);
}

.col5 {
  flex-basis: calc(100% / 16 * 5 - 3 * 20px);
  width: calc(100% / 16 * 5 - 3 * 20px);
}

.col6 {
  flex-basis: calc(100% / 16 * 6 - 3 * 20px);
  width: calc(100% / 16 * 6 - 3 * 20px);
}

.col7 {
  flex-basis: calc(100% / 16 * 7 - 3 * 20px);
  width: calc(100% / 16 * 7 - 3 * 20px);
}

.col8 {
  flex-basis: calc(100% / 16 * 8 - 3 * 20px);
  width: calc(100% / 16 * 8 - 3 * 20px);
}

.col9 {
  flex-basis: calc(100% / 16 * 9 - 3 * 20px);
  width: calc(100% / 16 * 9 - 3 * 20px);
}

.col10 {
  flex-basis: calc(100% / 16 * 10 - 3 * 20px);
  width: calc(100% / 16 * 10 - 3 * 20px);
}

.col11 {
  flex-basis: calc(100% / 16 * 11 - 3 * 20px);
  width: calc(100% / 16 * 11 - 3 * 20px);
}

.col12 {
  flex-basis: calc(100% / 16 * 12 - 3 * 20px);
  width: calc(100% / 16 * 12 - 3 * 20px);
}

.col13 {
  flex-basis: calc(100% / 16 * 13 - 3 * 20px);
  width: calc(100% / 16 * 13 - 3 * 20px);
}

.col14 {
  flex-basis: calc(100% / 16 * 14 - 3 * 20px);
  width: calc(100% / 16 * 14 - 3 * 20px);
}

.col15 {
  flex-basis: calc(100% / 16 * 15 - 3 * 20px);
  width: calc(100% / 16 * 15 - 3 * 20px);
}

.col16 {
  flex-basis: calc(100% / 16 * 16 - 3 * 20px);
  width: calc(100% / 16 * 16 - 3 * 20px);
}

@font-face {
  font-family: "ABCMarist-Book";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/ABCMarist-Book.woff") format("woff");
}
@font-face {
  font-family: "test-tiempos-text-regular";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/test-tiempos-text-regular.woff2") format("woff2");
}
@font-face {
  font-family: "bradfordlltrialweb-book";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/BradfordLLTrialWeb-Book.woff2") format("woff2");
}
@font-face {
  font-family: "ABCMarist-BookItalic";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/ABCMarist-BookItalic.woff") format("woff");
}
@font-face {
  font-family: "ABCMarist-Medium";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/ABCMarist-Medium.woff") format("woff");
}
@font-face {
  font-family: "ABCMarist-SemiBold";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/ABCMarist-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Favorit-Light";
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/Favorit-Light.woff ") format("woff");
}
body {
  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
  background: #F7F6F2;
}

.visually-hidden {
  display: none;
  visibility: hidden;
}

.global-menu {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.global-menu .logo {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  width: 330px;
  height: 50px;
  background-image: url("/media/logo.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center left;
}
.global-menu .logo a {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1000em;
  width: 100%;
  height: 100%;
}
.global-menu .navigation ul {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  gap: 20px;
}
.global-menu .navigation ul li {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
.global-menu .navigation ul li a {
  color: #3D3B3B;
  font-family: "Favorit-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}
.global-menu .navigation ul li a:hover {
  border-bottom: 2px solid #3D3B3B;
}
.global-menu .navigation ul li.selected a {
  border-bottom: 2px solid #C5C5C5;
}
.global-menu .navigation ul li.selected a:hover {
  border-bottom: 2px solid #3D3B3B;
}

.global-footer {
  background: black;
  color: white;
  padding: 80px;
}
.global-footer a {
  color: white;
  text-decoration: none;
}
.global-footer a:hover {
  text-decoration: underline;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

.col1 {
  flex-basis: calc(100% / 16 * 1 - 3 * 20px);
  width: calc(100% / 16 * 1 - 3 * 20px);
}

.col2 {
  flex-basis: calc(100% / 16 * 2 - 3 * 20px);
  width: calc(100% / 16 * 2 - 3 * 20px);
}

.col3 {
  flex-basis: calc(100% / 16 * 3 - 3 * 20px);
  width: calc(100% / 16 * 3 - 3 * 20px);
}

.col4 {
  flex-basis: calc(100% / 16 * 4 - 3 * 20px);
  width: calc(100% / 16 * 4 - 3 * 20px);
}

.col5 {
  flex-basis: calc(100% / 16 * 5 - 3 * 20px);
  width: calc(100% / 16 * 5 - 3 * 20px);
}

.col6 {
  flex-basis: calc(100% / 16 * 6 - 3 * 20px);
  width: calc(100% / 16 * 6 - 3 * 20px);
}

.col7 {
  flex-basis: calc(100% / 16 * 7 - 3 * 20px);
  width: calc(100% / 16 * 7 - 3 * 20px);
}

.col8 {
  flex-basis: calc(100% / 16 * 8 - 3 * 20px);
  width: calc(100% / 16 * 8 - 3 * 20px);
}

.col9 {
  flex-basis: calc(100% / 16 * 9 - 3 * 20px);
  width: calc(100% / 16 * 9 - 3 * 20px);
}

.col10 {
  flex-basis: calc(100% / 16 * 10 - 3 * 20px);
  width: calc(100% / 16 * 10 - 3 * 20px);
}

.col11 {
  flex-basis: calc(100% / 16 * 11 - 3 * 20px);
  width: calc(100% / 16 * 11 - 3 * 20px);
}

.col12 {
  flex-basis: calc(100% / 16 * 12 - 3 * 20px);
  width: calc(100% / 16 * 12 - 3 * 20px);
}

.col13 {
  flex-basis: calc(100% / 16 * 13 - 3 * 20px);
  width: calc(100% / 16 * 13 - 3 * 20px);
}

.col14 {
  flex-basis: calc(100% / 16 * 14 - 3 * 20px);
  width: calc(100% / 16 * 14 - 3 * 20px);
}

.col15 {
  flex-basis: calc(100% / 16 * 15 - 3 * 20px);
  width: calc(100% / 16 * 15 - 3 * 20px);
}

.col16 {
  flex-basis: calc(100% / 16 * 16 - 3 * 20px);
  width: calc(100% / 16 * 16 - 3 * 20px);
}

@font-face {
  font-family: "ABCMarist-Book";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/ABCMarist-Book.woff") format("woff");
}
@font-face {
  font-family: "test-tiempos-text-regular";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/test-tiempos-text-regular.woff2") format("woff2");
}
@font-face {
  font-family: "bradfordlltrialweb-book";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/BradfordLLTrialWeb-Book.woff2") format("woff2");
}
@font-face {
  font-family: "ABCMarist-BookItalic";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/ABCMarist-BookItalic.woff") format("woff");
}
@font-face {
  font-family: "ABCMarist-Medium";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/ABCMarist-Medium.woff") format("woff");
}
@font-face {
  font-family: "ABCMarist-SemiBold";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/ABCMarist-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Favorit-Light";
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/Favorit-Light.woff ") format("woff");
}
body {
  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
  background: #F7F6F2;
}

.visually-hidden {
  display: none;
  visibility: hidden;
}

.global-menu {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.global-menu .logo {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  width: 330px;
  height: 50px;
  background-image: url("/media/logo.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center left;
}
.global-menu .logo a {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1000em;
  width: 100%;
  height: 100%;
}
.global-menu .navigation ul {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  gap: 20px;
}
.global-menu .navigation ul li {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
.global-menu .navigation ul li a {
  color: #3D3B3B;
  font-family: "Favorit-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}
.global-menu .navigation ul li a:hover {
  border-bottom: 2px solid #3D3B3B;
}
.global-menu .navigation ul li.selected a {
  border-bottom: 2px solid #C5C5C5;
}
.global-menu .navigation ul li.selected a:hover {
  border-bottom: 2px solid #3D3B3B;
}

.global-footer {
  background: black;
  color: white;
  padding: 80px;
}
.global-footer a {
  color: white;
  text-decoration: none;
}
.global-footer a:hover {
  text-decoration: underline;
}

.home {
  display: block;
  margin: auto;
  max-width: 1920px;
}
.home .articles {
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  border: 1px solid black;
}
.home .articles .article {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  order: 1;
  border: 1px solid black;
}
.home .articles .article a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.home .articles .article.featured {
  grid-column: 1/span 3;
  order: 0;
}
.home .articles .article.featured a {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.home .articles .article.featured .article-image {
  border: 0;
}
.home .articles .article.featured .article-description {
  border-left: 2px solid black;
}
.home .articles .article.featured .article-description .article-title {
  font-size: 4rem;
  line-height: 4.2rem;
}
.home .articles .article.featured .article-description .article-subtitle {
  font-size: 2rem;
  line-height: 2.6rem;
}
.home .articles .article .article-description {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}
.home .articles .article .article-description .article-title {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-grow: 2;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  background: #E0D9CA;
  color: #222;
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-family: "Favorit-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  border-bottom: 2px solid black;
}
.home .articles .article .article-description .article-subtitle {
  margin: 0;
  padding: 0;
  border: 0;
  padding: 20px;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
  background: #E2E9E1;
  color: #222222;
  gap: 30px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-family: "test-tiempos-text-regular", serif;
  font-weight: 200;
  border-bottom: 2px solid black;
}
.home .articles .article .article-description .article-meta {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
}
.home .articles .article .article-description .article-meta li {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  flex-basis: 50%;
  padding: 15px 20px;
  font-family: "test-tiempos-text-regular", serif;
  font-size: 1rem;
  color: #3D3B3B;
}
.home .articles .article .article-description .article-meta li:first-of-type {
  border-right: 2px solid black;
}
.home .articles .article .article-description .article-meta-author {
  background: #F1FFBA;
  letter-spacing: 0.05rem;
}
.home .articles .article .article-description .article-meta-author strong {
  font-family: "test-tiempos-text-regular", serif;
  font-variant: small-caps;
}
.home .articles .article .article-description .article-meta-date {
  background: #FAFFE7;
  font-style: italic;
}
.home .articles .article .article-image {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid black;
}
.home .articles .article .article-image .article-media {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@keyframes my-animation {
  0% {
    filter: none;
  }
  20% {
    filter: url(#filter);
  }
  50% {
    filter: url(#filter-2);
  }
  80% {
    filter: url(#filter-3);
  }
  94% {
    filter: none;
  }
}
#glitch:hover {
  filter: url(#filter);
  animation: 0.8s my-animation alternate infinite;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

.col1 {
  flex-basis: calc(100% / 16 * 1 - 3 * 20px);
  width: calc(100% / 16 * 1 - 3 * 20px);
}

.col2 {
  flex-basis: calc(100% / 16 * 2 - 3 * 20px);
  width: calc(100% / 16 * 2 - 3 * 20px);
}

.col3 {
  flex-basis: calc(100% / 16 * 3 - 3 * 20px);
  width: calc(100% / 16 * 3 - 3 * 20px);
}

.col4 {
  flex-basis: calc(100% / 16 * 4 - 3 * 20px);
  width: calc(100% / 16 * 4 - 3 * 20px);
}

.col5 {
  flex-basis: calc(100% / 16 * 5 - 3 * 20px);
  width: calc(100% / 16 * 5 - 3 * 20px);
}

.col6 {
  flex-basis: calc(100% / 16 * 6 - 3 * 20px);
  width: calc(100% / 16 * 6 - 3 * 20px);
}

.col7 {
  flex-basis: calc(100% / 16 * 7 - 3 * 20px);
  width: calc(100% / 16 * 7 - 3 * 20px);
}

.col8 {
  flex-basis: calc(100% / 16 * 8 - 3 * 20px);
  width: calc(100% / 16 * 8 - 3 * 20px);
}

.col9 {
  flex-basis: calc(100% / 16 * 9 - 3 * 20px);
  width: calc(100% / 16 * 9 - 3 * 20px);
}

.col10 {
  flex-basis: calc(100% / 16 * 10 - 3 * 20px);
  width: calc(100% / 16 * 10 - 3 * 20px);
}

.col11 {
  flex-basis: calc(100% / 16 * 11 - 3 * 20px);
  width: calc(100% / 16 * 11 - 3 * 20px);
}

.col12 {
  flex-basis: calc(100% / 16 * 12 - 3 * 20px);
  width: calc(100% / 16 * 12 - 3 * 20px);
}

.col13 {
  flex-basis: calc(100% / 16 * 13 - 3 * 20px);
  width: calc(100% / 16 * 13 - 3 * 20px);
}

.col14 {
  flex-basis: calc(100% / 16 * 14 - 3 * 20px);
  width: calc(100% / 16 * 14 - 3 * 20px);
}

.col15 {
  flex-basis: calc(100% / 16 * 15 - 3 * 20px);
  width: calc(100% / 16 * 15 - 3 * 20px);
}

.col16 {
  flex-basis: calc(100% / 16 * 16 - 3 * 20px);
  width: calc(100% / 16 * 16 - 3 * 20px);
}

@font-face {
  font-family: "ABCMarist-Book";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/ABCMarist-Book.woff") format("woff");
}
@font-face {
  font-family: "test-tiempos-text-regular";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/test-tiempos-text-regular.woff2") format("woff2");
}
@font-face {
  font-family: "bradfordlltrialweb-book";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/BradfordLLTrialWeb-Book.woff2") format("woff2");
}
@font-face {
  font-family: "ABCMarist-BookItalic";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/ABCMarist-BookItalic.woff") format("woff");
}
@font-face {
  font-family: "ABCMarist-Medium";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/ABCMarist-Medium.woff") format("woff");
}
@font-face {
  font-family: "ABCMarist-SemiBold";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/ABCMarist-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Favorit-Light";
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/Favorit-Light.woff ") format("woff");
}
body {
  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
  background: #F7F6F2;
}

.visually-hidden {
  display: none;
  visibility: hidden;
}

.global-menu {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.global-menu .logo {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  width: 330px;
  height: 50px;
  background-image: url("/media/logo.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center left;
}
.global-menu .logo a {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1000em;
  width: 100%;
  height: 100%;
}
.global-menu .navigation ul {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  gap: 20px;
}
.global-menu .navigation ul li {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
.global-menu .navigation ul li a {
  color: #3D3B3B;
  font-family: "Favorit-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}
.global-menu .navigation ul li a:hover {
  border-bottom: 2px solid #3D3B3B;
}
.global-menu .navigation ul li.selected a {
  border-bottom: 2px solid #C5C5C5;
}
.global-menu .navigation ul li.selected a:hover {
  border-bottom: 2px solid #3D3B3B;
}

.global-footer {
  background: black;
  color: white;
  padding: 80px;
}
.global-footer a {
  color: white;
  text-decoration: none;
}
.global-footer a:hover {
  text-decoration: underline;
}

.article {
  display: block;
  margin: auto;
  max-width: 1920px;
}
.article-header {
  width: 100%;
  color: white;
  margin-bottom: 80px;
  border: 2px solid black;
  display: grid;
}
.article-header.portrait {
  grid-template-columns: 1fr 1fr;
}
.article-header.portrait .article-header-content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 10fr max-content;
}
.article-header.portrait .article-title {
  border-bottom: 2px solid black;
}
.article-header.portrait .article-subtitle {
  border-bottom: 2px solid black;
}
.article-header.portrait.left .article-header-image {
  order: 0;
  border-right: 2px solid black;
}
.article-header.portrait.left .article-header-content {
  order: 1;
}
.article-header.portrait.right .article-header-image {
  order: 1;
  border-left: 2px solid black;
}
.article-header.portrait.right .article-header-content {
  order: 0;
}
.article-header.landscape {
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
}
.article-header.landscape .article-header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content;
}
.article-header.landscape .article-title {
  border-bottom: 2px solid black;
}
.article-header.landscape .article-subtitle {
  border-left: 2px solid black;
  grid-column: 2/2;
  grid-row: 1/span 2;
}
.article-header.landscape.top .article-header-image {
  order: 0;
  border-bottom: 2px solid black;
}
.article-header.landscape.top .article-header-content {
  order: 1;
}
.article-header.landscape.bottom .article-header-image {
  order: 1;
}
.article-header.landscape.bottom .article-header-content {
  border-bottom: 2px solid black;
  order: 0;
}
.article-header-image {
  display: flex;
}
.article-header-image img {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.article-header-content {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
.article-body {
  max-width: 800px;
  margin: auto;
}
.article-footer {
  max-width: 800px;
  margin: auto;
}

.article-title {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  padding: 30px 50px;
  flex-direction: column;
  justify-content: center;
  background: #E0D9CA;
  color: #222;
}
.article-title h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 5rem;
  font-family: "Favorit-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  line-height: 5rem;
}

.article-subtitle {
  margin: 0;
  padding: 0;
  border: 0;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #E2E9E1;
  color: #222222;
  gap: 30px;
}
.article-subtitle p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 2rem;
  line-height: 3rem;
  font-family: "test-tiempos-text-regular", serif;
  font-weight: 200;
}

.article-meta {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
}
.article-meta li {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  flex-basis: 50%;
  padding: 20px 50px;
  font-family: "test-tiempos-text-regular", serif;
  font-size: 1.3rem;
  color: #3D3B3B;
}
.article-meta li:first-of-type {
  border-right: 2px solid black;
}
.article-meta-author {
  background: #F1FFBA;
  letter-spacing: 0.05rem;
}
.article-meta-author strong {
  font-family: "test-tiempos-text-regular", serif;
  font-variant: small-caps;
}
.article-meta-date {
  background: #FAFFE7;
  font-style: italic;
}

.article-body h1, .article-body h2, .article-body h3, .article-body h4, .article-body h5, .article-body h6 {
  font-family: "test-tiempos-text-regular", serif;
  margin-bottom: 50px;
}
.article-body h1 {
  font-size: 3rem;
  line-height: 2.8rem;
}
.article-body h2 {
  font-size: 2.6rem;
  line-height: 2.8rem;
}
.article-body h3 {
  font-size: 2.3rem;
  line-height: 2.8rem;
}
.article-body h4 {
  font-size: 2.1rem;
  line-height: 2.8rem;
}
.article-body h5 {
  font-size: 2rem;
  line-height: 2.8rem;
}
.article-body h6 {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.article-body p {
  font-family: "test-tiempos-text-regular", serif;
  font-family: "test-tiempos-text-regular", serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 50px;
}
.article-body .header-anchor {
  text-decoration: none;
  color: #222;
  vertical-align: super;
  font-size: 1.2rem;
}
.article-body hr {
  display: block;
  margin: 80px 0;
  border: 0;
  border-bottom: 1px dotted #ccc;
}
.article-body blockquote {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translateX(-100px);
  padding-right: 50px;
}
.article-body blockquote p {
  font-size: 2.5rem;
  line-height: 3.4rem;
}
.article-body p picture {
  margin: 0;
  padding: 0;
  border: 0;
  width: 120%;
  display: block;
  transform: translateX(-10%);
}
.article-body p picture img {
  width: 100%;
  height: auto;
  display: block;
}

.article-footer {
  padding: 80px 0;
  border-bottom: 2px solid black;
  margin-bottom: 40px;
}

.related {
  display: block;
  margin: auto;
  width: 80vw;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 80px;
}
.related .related-header {
  grid-column: 1/span 3;
  text-align: center;
  font-size: 2rem;
  font-family: "Favorit-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.related .related-article {
  border: 2px solid black;
}
.related .related-article .article-image {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
}
.related .related-article .article-image img {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=app.css.map */
