/* Error: Undefined variable.
 *    ,
 * 89 |   padding: $space-s $space-l
 *    |            ^^^^^^^^
 *    '
 *   _dev/sass/general.sass 89:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 89 \2502    padding: $space-s $space-l\a    \2502             ^^^^^^^^\a    \2575 \a   _dev/sass/general.sass 89:12  root stylesheet";
}
