---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 4
---

<div class="home">

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
<div class="articles">
{% for post in postslist | reverse %}
	<article class="article {% if post.data.isFeatured == true %}featured{% endif %}">
		<a href="{{ post.url }}">
 			{% if post.data.isFeatured == true %}
				<svg class="article-image" viewBox="0 0 1 1">
					<defs>
						<filter id="filter" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
							<feMorphology operator="dilate" radius="10 0" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" result="morphology1"></feMorphology>
						</filter>
						<filter id="filter-2" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
							<feMorphology operator="dilate" radius="10 2" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" result="morphology1"></feMorphology>
						</filter>
						<filter id="filter-3" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
							<feMorphology operator="dilate" radius="15 0" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" result="morphology1"></feMorphology>
						</filter>
					</defs>
					<image class="article-media" x="0%" y="0%" preserveAspectRatio="xMidYMid slice" xlink:href="/media/{{ post.data.thumbnail_image }}" id="glitch"></image>
				</svg>
			{% else %}
				{% if post.data.thumbnail_image %}
					<figure class="article-image">
						<img class="article-media" src="/media/{{ post.data.thumbnail_image }}"/>
					</figure>
				{% endif %}
			{% endif %}
			<div class="article-description">
				<h3 class="article-title">{{ post.data.title }}</h3>
				{% if post.data.description %}
					<p class="article-subtitle">{{ post.data.description }}</p>
				{% endif %}
				<ul class="article-meta">
					<li class="article-meta-author">{{ post.data.author }}</li>
					<li class="article-meta-date"><time class="date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time></li>
				</ul>
			</div>
		</a>
	</article>
{% endfor %}


</div>


</div>