---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 4
---

<div class="home">

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
<div class="articles">
{% for post in postslist | reverse %}
	<article class="article {% if post.data.isFeatured ==true %}featured{% endif %}">
		<a href="{{ post.url }}">
			{% if post.data.thumbnail_image %}
				<figure>
					<img	src="/media/{{ post.data.thumbnail_image }}"/>
				</figure>
			{% endif %}
			{% if post.data.title %}
				<h3>{{ post.data.title }}</h3>
			{% endif %}
			{% if post.data.description %}
				<p>{{ post.data.description }}</p>
			{% endif %}
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		</a>
	</article>
{% endfor %}


</div>


</div>