---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 4
---

<div class="home">

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
<div class="articles">
{% for post in postslist | reverse %}
	<article class="article {% if post.data.isFeatured == true %}featured{% endif %}">
		<a href="{{ post.url }}">
 			{% if post.data.isFeatured == true %}
					<figure class="article-image">
						<img class="article-media" src="/assets/media/articles-featured/{{ post.data.thumbnail_image }}"/>
					</figure>
			{% else %}
				{% if post.data.thumbnail_image %}
					<figure class="article-image">
						<img class="article-media" src="/assets/media/articles-featured/{{ post.data.thumbnail_image }}"/>
					</figure>
				{% endif %}
			{% endif %}
			<div class="article-description {{ post.data.color }}">
				<h3 class="article-title" style="background-color:{{ post.data.color_title }}; color:{{ post.data.color_text }}!important;">{{ post.data.title }}</h3>
				{% if post.data.description %}
					<p class="article-subtitle" style="background-color:{{ post.data.color_subtitle }}; color:{{ post.data.color_text }}!important;">{{ post.data.description }}</p>
				{% endif %}
				<ul class="article-meta">
					<li class="article-meta-author">{{ post.data.author }}</li>
					<li class="article-meta-date"><time class="date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time></li>
				</ul>
			</div>
		</a>
	</article>
{% endfor %}


</div>


</div>