$color-background: #F5F5F5

$color-corp-green: #D3FE50
$color-corp-darker: #3D3B3B
$color-corp-dark: #878787
$color-corp-light: #C5C5C5
$color-corp-lighter: #F7F7F7

$color-comp-green-01: #F1FFBA
$color-comp-green-02: #FAFFE7