@import general

.home
  display: block
  margin: auto
  max-width: $max-width
  .articles
    +reset
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    justify-items: stretch
    align-items: stretch
    border: calc($border-size)/2 solid black
    .article
      +reset_box
      order: 1
      border: calc($border-size)/2 solid black
      a
        text-decoration: none
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
      &.featured
        grid-column: 1 / span 3
        order: 0
        a
          display: grid
          grid-template-columns: 2fr 1fr
        .article-image
          border: 0
        .article-description
          border-left: $border-size solid black
          .article-title
            font-size: 4rem
            line-height: 4.2rem
          .article-subtitle
            font-size: 2rem
            line-height: 2.6rem
      .article-description
        display: flex
        flex-direction: column
        flex-grow: 10
        .article-title
          +reset
          display: flex
          flex-grow: 2
          padding: $space-s
          flex-direction: column
          justify-content: center
          background: #E0D9CA
          color: #222
          font-size: 2.2rem
          line-height: 2.4rem
          font-family: 'Favorit-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif
          font-weight: 200
          border-bottom: $border-size solid black
        .article-subtitle
          +reset
          padding: $space-s
          display: flex
          flex-grow: 2
          flex-direction: column
          justify-content: center
          background: #E2E9E1
          color: #222222
          gap: $space-m
          font-size: 1.2rem
          line-height: 1.6rem
          font-family: 'test-tiempos-text-regular', serif
          font-weight: 200
          border-bottom: $border-size solid black
        .article-meta
          +reset
          display: flex
          justify-content: center
          li
            +reset
            display: block
            flex-basis: 50%
            padding: $space-xs $space-s
            font-family: 'test-tiempos-text-regular', serif
            font-size: 1rem
            color: $color-corp-darker
            &:first-of-type
              border-right: $border-size solid black
          &-author
            background: $color-comp-green-01
            letter-spacing: 0.05rem
            strong
              font-family: 'test-tiempos-text-regular', serif
              font-variant: small-caps
          &-date
            background: $color-comp-green-02
            font-style: italic
      .article-image
        +reset_box
        width: 100%
        overflow: hidden
        border-bottom: $border-size solid black
        .article-media
          width: 100%
          height: 100%
          object-fit: fill


@keyframes my-animation
  0%
    filter: none
  20%
    filter: url(#filter)
  50%
    filter: url(#filter-2)
  80%
    filter: url(#filter-3)
  94%
    filter: none

#glitch:hover
  filter: url(#filter)
  animation: 0.8s my-animation alternate infinite
