@import general

.home
  display: block
  margin: auto
  max-width: $max-width
  .articles
    +reset
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: $space-l
    padding: $space-l
    justify-items: stretch
    align-items: stretch
    @media only screen and (max-width : #{$breakpoint-m})
      padding: $space-s
      gap: $space-s
      grid-template-columns: 1fr
    .article
      +reset_box
      order: 1
      border: $border-size solid black
      a
        text-decoration: none
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
      &.featured
        grid-column: 1 / span 3
        order: 0
        @media only screen and (max-width : #{$breakpoint-m})
          grid-column: 1 / span 1
        a
          display: grid
          grid-template-columns: 2fr 1fr
          @media only screen and (max-width : #{$breakpoint-m})
            grid-template-columns: 1fr
        .article-image
          border: 0
          @media only screen and (max-width : #{$breakpoint-m})
            border-bottom: $border-size solid black
        .article-description
          border-left: $border-size solid black
          @media only screen and (max-width : #{$breakpoint-m})
            border: 0
          .article-title
            +title_l
          .article-subtitle
            +subtitle_m
      .article-description
        display: flex
        flex-direction: column
        flex-grow: 10
        .article-title
          +reset
          +title_m
          display: flex
          flex-grow: 2
          padding: $space-s
          flex-direction: column
          justify-content: center
          border-bottom: $border-size solid black
        .article-subtitle
          +reset
          +subtitle_s
          padding: $space-s
          display: flex
          flex-grow: 2
          flex-direction: column
          justify-content: center
          gap: $space-m
          border-bottom: $border-size solid black
        .article-meta
          +reset
          display: flex
          justify-content: center
          li
            +reset
            +font_meta
            display: block
            flex-basis: 50%
            padding: $space-xs $space-s
            &:first-of-type
              border-right: $border-size solid black
          &-author
            font-variant: small-caps
          &-date
            font-style: italic
      .article-image
        +reset_box
        width: 100%
        overflow: hidden
        border-bottom: $border-size solid black
        .article-media
          width: 100%
          height: 100%
          object-fit: fill