<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<link rel="stylesheet" href="/css/app.css">
	</head>
	<body class="global">
		<a href="#skip" class="visually-hidden">Skip to main content</a>

    <header class="global-menu">
      <h1 class="logo"><a href="#">Lateral</a></h1>
      <nav  class="navigation">
				<ul>
					<h2 class="visually-hidden">Top level navigation menu</h2>
						<li><a href="/" class="home-link">{{ metadata.title }}</a></li>
					{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
					{%- endfor %}
        </ul>
      </nav>
    </header>

		<main class="global-content" id="skip">
			{{ content | safe }}
		</main>
		
    <footer class="global-footer">

			{% set morePosts = postsCount - numberOfLatestPostsToShow %}
			{% if morePosts > 0 %}
			<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/archive/">the archive</a>.</p>
			{% endif %}

			<h3>Todas las páginas</h3>
			<ul>
				{%- for entry in collections.all %}
				<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
				{%- endfor %}
			</ul>
    </footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>
