---
layout: layouts/base.njk
---

<article class="single-page">
  {{ content | safe }}
</article>

<aside class="single-page">   
    {% set morePosts = postsCount - numberOfLatestPostsToShow %}
    {% if morePosts > 0 %}
    <p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/archive/">the archive</a>.</p>
    {% endif %}

    <h3>Todas las páginas</h3>
    <ul>
      {%- for entry in collections.all %}
      <li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
      {%- endfor %}
    </ul>
</aside>