---
layout: layouts/base.njk
numberOfLatestPostsToShow: 4
---

{# MD structure for a post (example):
---
title: string
description: string
author: string
date: 2018-05-01
tags:
  - Author
  - Tag 1
	- Tag 2
extraCredits: string
featured_image: filename.jpg
thumbnail_image: filename.jpg
template: landscape bottom  | landscape top | portrait left | portrait right
permalink: 'archivo/{{ title | slugify }}-{{ date | slugDate }}/'
isFeatured: boolean
---
#}

<article class="article">

	{# The header of the article #}
	<header class="article-header {{ template }}">
		<div class="article-header-image">
			<img src="/assets/media/articles-featured/{{ featured_image }}" alt="test">
		</div>
		<div class="article-header-content">
			<div class="article-title">
				<h1>{{ title }}</h1>
			</div>
			<div class="article-subtitle">
				<p>{{ description }}</p>
			</div>
			<ul class="article-meta">
				<li class="article-meta-author">Por <strong>{{ author }}</strong></li>
				<li class="article-meta-date"><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
			</ul>
		</div>
	</header>

	{# The content of the article #}
	<div class="article-body">
		{{ content | safe }}
	</div>

	{# The footer of the article #}
	<footer class="article-footer">

		<time datetime="{{ page.date | htmlDateString }}">{{ page.date | footerDate }}</time>

		{# Use the first tag as the author tag, or use the author prop #}
		{% if tags %}
				{%- set tagUrl %}/tags/{{ tags[1] | slugify }}/{% endset %}
				<p><a href="{{ tagUrl }}">{{ tags[1] }}</a></p>
		{% else %}
			<p>{{ author }}</p>
		{% endif %}

		{# List all tags, but remove the first one, that we use for the author #}
		{% if tags %}
			<ul class="article-tags">
				{%- for tag in tags | filterTagList %}
				{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
					{% if not loop.first %}
						<li><a href="{{ tagUrl }}">#{{ tag }}</a></li>
					{% endif %}
				{%- else %}
					<li>No tags</li>
				{%- endfor %}
			</ul>
		{% endif %}
		{% if extraCredits %}
			<small>{{ extraCredits }}</small>
		{% endif %}
	</footer>
</article>

{# Related posts #}
<aside class="related">
	<h3 class="related-header">Articulos recomendados</h3>
	{% set postsCount = collections.posts | length %}
	{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
	{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
	{% set postslistCounter = postsCount %}
	{%- for post in postslist %}
		<article class="related-article">
			<a href="{{ post.url }}">
				{% if post.data.thumbnail_image %}
					<figure class="related-image">
						<img class="related-media" src="/assets/media/articles-featured/{{ post.data.thumbnail_image }}"/>
					</figure>
				{% endif %}
				<h3 class="related-title">{{ post.data.title }}</h3>
				<ul class="related-meta">
					<li class="related-meta-author">{{ post.data.author }}</li>
					<li class="related-meta-date"><time class="date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time></li>
				</ul>
			</a>
		</article>
	{%- endfor %}
</aside>